<html>
<body vocab="http://schema.org/">
<div typeof="Person">
  <h1 property="name">{{name}}</h1>
  <img property="image" src="{{image}}" />
  <p property="description">{{description}}</p>
</div>
</body>
</html>
