<html>
<body vocab="http://schema.org/">
<div typeof="Person">
  <h1 property="name">{{name}}</h1>
  <img property="image" src="{{image}}" />
  <p property="description">{{description}}</p>
</div>
<footer>
  <p>page powered by open source <a href="https://github.com/elf-pavlik/profiled">profiled</a></p>
</footer>
</body>
</html>
